// Babel config for bundle analyzer plugin
{
	"presets": [
		["env", {
			"targets": { "node": 4 },
			"exclude": [
				// Node 4 supports all the generator features that we use so there is no need for Regenerator
				"transform-regenerator"
			]
		}]
	],
	"plugins": [
		["transform-object-rest-spread", { "useBuiltIns": true }],
		"transform-class-properties",
		"transform-react-jsx"
	]
}

