@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

path {
	stroke: #FFF;
	fill-rule: evenodd;
}

.sunburst {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.sunburst svg {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
